# Лекция по git, pandas. Домашнее задание

Задача: Посчитать количество упоминаний каждого хребта в столбце Parent Mountain с помощью Pandas, учитывать только те Parent Mountains, у которых больше трех упоминаний.
Исходные данные находятся в файле Mountains.csv

In [1]:
import pandas as pd
import numpy as np

In [53]:
data = pd.read_csv('Mountains.csv',delimiter=",")
data.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

Используем метод groupby с атрибутом groups. В результате получаем словарь, где ключ - Parent mountain, а значение - массив с ID гор. 
http://pandas.pydata.org/pandas-docs/stable/groupby.html

In [54]:
grouped = data.groupby('Parent mountain').groups

In [55]:
result = {}
for i in grouped.keys():
    if len(grouped[i]) > 3:
        result[i] = len(grouped[i])
result

{'Cho Oyu': 7,
 'Dhaulagiri': 4,
 'Distaghil Sar': 5,
 'Gasherbrum I': 8,
 'K2': 5,
 'Kangchenjunga': 7,
 'Mount Everest': 9,
 'Shisha Pangma': 4}